services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    ports:
      - "5432:5432"

  backend:
    build: ./back-end
    container_name: django_backend
    entrypoint: ./entrypoint.sh
    volumes:
      - ./back-end:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
      - POSTGRES_DB=app_db
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=app_password
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432

  frontend:
    build: ./front-end
    container_name: react_frontend
    command: npm run dev -- --host
    volumes:
      - ./front-end:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres_data:
